// FontFamily variables
$font-family: 'Open Sans', sans-serif;

// Colors Variable
$white-color: #fff;
$black-color: #000;
$primary-color: #0288D1;
$primary-light-color: #B3E5FC;
$red-color:#ff5252;

// Dimension
$spinner-dimensions: 50px;

// Margin and Padding Variables
$zero: 0rem !important;
$five: .5rem !important;
$ten: 1rem !important;
$fifteen: 1.5rem !important;
$twenty: 2rem !important;
$twenty-five: 2.5rem !important;
$thirty: 3rem !important;
$thirty-five: 3.5rem !important;
$fourty: 4rem !important;
$fourty-five: 4.5rem !important;
$fifty: 5rem !important;
